body {
  margin: 0;
}

.gradient {
  background: rgb(83, 209, 193);
  background: linear-gradient(
    180deg,
    rgba(83, 209, 193, 1) 35%,
    rgba(50, 141, 141, 1) 100%
  );
}
.vector {
  position: absolute;
  width: 11.05px;
  height: 5.02px;
  border: 2px solid #323f47;
  transform: rotate(-90deg);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
